<h2>Novo Chamado</h2>

<form method="post" action="/chamado/novo/salvar">
    <div class="row">
        <div class="col-8">
            <label for="">Título</label>
            <input type="text" name="titulo" class="form-control">
        </div>

        <div class="col-4">
            <label for="">Prioridade</label>
            <select name="prioridade" class="form-select">
                <option value="baixa">Baixa</option>
                <option value="media">Média</option>
                <option value="alta">Alta</option>
                <option value="critica">Crítica</option>
            </select>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <label for="">Descrição</label>
            <textarea name="descricao" rows="5" class="form-control"></textarea>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</form>